# Stripe keys
# https://dashboard.stripe.com/apikeys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51R6EN5RL1uMC6KjQ0eZLHOJHjkcT3hmQ5uZyOOmeF8oNMjsMAlpccIPs3aYZjwQSyINfMDPyeY1QGbw0AbQ2NZud00wHOHruQE
STRIPE_SECRET_KEY=pk_test_51R6EN5RL1uMC6KjQ0eZLHOJHjkcT3hmQ5uZyOOmeF8oNMjsMAlpccIPs3aYZjwQSyINfMDPyeY1QGbw0AbQ2NZud00wHOHruQE
STRIPE_PAYMENT_DESCRIPTION='Software development services'
# https://stripe.com/docs/webhooks/signatures
STRIPE_WEBHOOK_SECRET= whsec_af551b05b94f351a82b0cd011a54359c40f49016e52f4807b0112fff246ff702


